*{
	padding: 0;
	margin: 0;	
}

h2{
	font-size: 2.5em;
	border-style: none none solid none;
	border-bottom-width: :  3px: 
	border-bottom: black;

}

.container{
	margin-left:  3.5%;
	margin-right: 0; 
}

.input-group-pretend{
	width: 30%;
}

.input-group{
	margin-top: 1.4%;
}

.barra{
	width: 10%;
}

input[type="button"]{
	width: 50%;
}

input[type="number"]{
	width: 10%;
	text-aling: center;
	padding-left: 2%;
	/*margin-left: 2%;*/
}

input[type="input"]{
	max-width: 10%;
}

input[type="checkbox"]{
	border-radius: 10px; 
}